<h1>Add Curso</h1>
<form action="/cursos/add" method="POST">
    <div class="form-group">
        <label for="nome">Curso</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>