<h1>Add Materia</h1>
<form action="/materias/add" method="POST">
    <div class="form-group">
        <label for="nome">Materia</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>